:root {
    --color-purple: #666CA3;
    --color-dark-blue: #13183F;
    --color-gray: #83869A;
    --color-pink: #F74780;
    --color-light-pink: #FFA7C3;
    --color-white: #FFFFFF;
    --color-gradient-pink-orange: linear-gradient(to right, #F02AA6, #FF6F48);
    --color-gradient-blue-pink: linear-gradient(to right, #4851FF, #F02AA6);
    --font : "Plus Jakarta Sans", sans-serif;
  }
/* general styles */
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font);
    cursor: default;
  }

 /*Topography*/ 
 h1 {
    font-size: 2.5rem;
    line-height: 1.25;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.333;
    color: var(--color-white);
  }
  h3 {
    font-size: 1.25rem;
  }
  h1,
  h3 {
    color: var(--colors-darkblue);
  }
  h1,
  h2,
  h3 {
    font-weight: 800;
  }
  p {
    font-size: 1rem;
    line-height: 1.625;
    color: var(--color-gray);
  }
 
  a {
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }

  .button {
    width: 140px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
  }
  
  .dark-blue {
    background-color: var(--color-dark-blue);
  }
  .dark-blue:hover {
    background-color: var(--color-gray);
  }
  .logo {
    width: 86px;
    height: 21px;
  }
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2rem;
      line-height: 1.25;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.556;
    }
    .button {
        width: 167px;
        height: 56px;
        font-size: 1.125rem;
      }
  }
  @media (min-width: 992px) {
    .logo {
      width: 112px;
      height: 27px;
    }
  }